extends layout

block content
    div
      h1 News
      table
	form
	  tr
	    td Title:
	    td
	      input(type='text', name='newsTitle')
	  tr
	    td Content:
	    td
	      input(type='text', name='newsContent')
	  tr
	    td
	      input(type='submit', value='Add')
