doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  body  
  .navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        a.navbar-brand(href='#') Web Services
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
          li
            a(href='#') News
          li
            a(href='#') Strategy of the Week
          li
            a(href='#') Events
          li
            a(href='#') Polls
          li
            a(href='#') About
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | You are logged in as Admin
              b.caret
            ul.dropdown-menu
              li
                a(href='#') Settings
              li
                a(href='index.html') Logout
  block content