extends layout

block content
  .container
    .jumbotron
      h2 Strategy of the Week
      form(action='http://localhost:3000/api/strategy', method='POST')
        table.table
          tr
            td
              input(type='text', placeholder='Enter Title', name='title')
            td(width='20%')
              textarea(placeholder='Enter Content', name='content', cols='45', rows='5')
            td(width='80%')
              input.btn.btn-primary(type='submit', value='Create')
      hr
      table.table.table-striped.table-hover
        thead
          tr
            th Title
            th Content
            th(width='10%')
              span.glyphicon.glyphicon-pencil
            th(width='10%')
              span.glyphicon.glyphicon-remove
        tbody.strategy
  script(src='../ajax/strategy.js')